.layout{
  height: 500px;
  width: 500px;
  color: white;
  .header{
    background: #0057b7;
    display:flex;
    align-items: center;
    justify-content: center;
  }
  .content{
    background: #ffd700;
    display:flex;
    align-items: center;
    justify-content: center;

  }
  .footer{
    background: #0057b7;
    display:flex;
    align-items: center;
    justify-content: center;
  }
  .aside{
    background: #90be6d;
    display:flex;
    align-items: center;
    justify-content: center;
  }
}
